<div id="nav-header">

	<ul class="nav justify-content-end">
		<li class="nav-item">
			<a class="nav-link" href="/">Most Recent</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/favorites">Favorites</a>
		</li>
	</ul>

</div>
