<div id="favorites-page" class="page-container">

    {{> page-header}}

    <div class="page-body-container">
        <div class="talks-container-title">
            <h3>Community Favorites</h3>
        </div>
        
        <div id="favorite-talks-container" class="talks-container">
        </div>
    </div>

</div>
