<div id="recent-page" class="page-container">

    {{> page-header}}

    <div class="page-body-container">
        <div class="talks-container-title">
            <h3>Most Recent</h3>
        </div>
        
        <div id="recent-talks-container" class="talks-container">
            <div class="talk">
                <div class="main-talk-image-container">
                    <a href="#">
                        <img class="main-talk-image" src="https://pi.tedcdn.com/r/pe.tedcdn.com/images/ted/d262615c2037591009e36126d8b33e5c8f8c1598_2880x1620.jpg">
                        <p class="overlay-duration">12:48</p>
                    </a>
                    <img class="overlay-icon favorite-icon" src="/assets/images/add-favorite-icon.svg">                    
                </div>

                <a href="#">
                    <h4 class="main-talk-title">A new way to think about the transition to motherhood</h4>
                    <p class="main-talk-presenter">Alexandra Sacks</p>
                </a>
            </div>
        </div>
    </div>

</div>
