body {
    color: #333;
    background-color:#f2f2f2;
}

a:hover {
    text-decoration: none;
    color: #7F314C;
}

.page-container {
    padding-top: 40px;
}

#nav-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    z-index: 20;
}

.nav-link {
    color: #FF1666;
    font-weight: bold;
    font-size: 1.3rem;
}

.nav-link:hover {
    color: #7F314C;
}

.jumbotron {
    background-image: url('../images/ted-talks-header.jpg');
    background-repeat: no-repeat;
    background-color: #333;
    background-position: 45% center;
    min-height: 55vh;
    padding: 0;
    margin-bottom: 20px;
}

.display-4 {
    padding-top: 20vh;
    padding-bottom: 20px;
    margin: 0px;
    font-weight: 500;
    text-align: center;
    color: #fff;
}

.sub-header {
    text-align: center;
    color: #fff;
    padding-bottom: 40px;
}

.talks-container, .comment-container {
    width: 800px;
    max-width: 98vw;
    margin: 0px auto;
    padding-bottom: 100px;
}

.talk {
    position: relative;
}

.talks-container-title {
    text-align: center;
}

.talks-container-title > h3 {
    color: #FF1666;
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px;
}

.comments-header {
    margin-top: 30px;
    color: #FF1666;
}

.main-talk-image-container {
    position: relative;
}

.main-talk-image {
    width: 800px;
    max-width: 98vw;
}

.overlay-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    cursor: pointer;
    z-index: 10;
}

.overlay-comment-icon {
    position: absolute;
    top: 10px;
    right: 70px;
    width: 50px;
    cursor: pointer;
    z-index: 10;
}

.overlay-duration {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
    text-shadow: 2px 2px #333;
    font-weight: bold;
    margin: 0px;
}

.main-talk-title {
    text-transform: capitalize;
    padding: 0;
    margin: 10px 0px 0px 0px;
    text-decoration: none;
    color: #7F314C;
}

.main-talk-presenter {
    font-style: italic;
    font-weight: 500;
    color: #7F314C;
    font-size: 1.2rem;
    text-decoration: none;
}

#new-talks-message {
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    position: fixed;
    bottom: 0;
    background-color: #FF1666;
    color: #fff;
    z-index: 20;
    display: none;
}

.bottom-message-text {
    font-weight: bold;
    font-size: 1.2rem;
    padding-right: 5px;
}

.reload-page-btn, .dismiss-btn, .submit-btn {
    border-radius: 25px;
    border: none;
    background-color: #fff;
    color: #FF1666;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    padding: 5px 20px;
    margin: 0px 5px;
}

.submit-btn {
    background-color: #FF1666;
    color: #fff;
}

#individual-talk-container {
    padding: 20px 0px 0px 0px;
}

.comment {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
    margin: 5px 0px;
}

.comment > p {
    margin: 0;
}

.comment-author {
    font-weight: bold;
}

.comment-delete {
    font-style: italic;
    color: #888888;
    cursor: pointer;
}

.comment-delete:hover {
    color: red;
}

.no-comments-message {
    font-weight: bold;
}
